repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: check-yaml
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: local
    hooks:
      - id: sops-check
        name: Check SOPS encryption in pkg/profiles
        entry: cmd/unecrypted.sh
        language: system
        files: '^pkg/profiles/.*\.ya?ml$'
