{{ define "header" }}
<div class="bg-white shadow-md fixed top-0 left-0 right-0 z-50">
    <div class="max-w-7xl mx-auto px-4 py-3 flex justify-between items-center">
        <!-- Logo / Brand -->
        <div class="text-xl font-bold text-indigo-600">Caesura</div>
        <div id="login-status" class="italic text-gray-500 hover:text-indigo-500" hx-get="/session/logged-in"
            hx-target="this" hx-swap="innerHTML" hx-trigger="load"></div>
        <div id="active-organization" class="italic text-gray-700" hx-get="/session/active-organization/name"
            hx-target="this" hx-swap="innerHTML" hx-trigger="load"></div>

        <!-- Navigation Links -->
        <nav class="space-x-6 hidden md:flex">
            <a href="/" class="text-gray-700 hover:text-indigo-500">{{ T "nav.home" }}</a>
            <a href="/organizations/form" class="text-gray-700 hover:text-indigo-500">{{ T "nav.organizations" }}</a>
            <a href="/overview" class="text-gray-700 hover:text-indigo-500">{{T "nav.overview" }}</a>
            <a href="/upload" class="text-gray-700 hover:text-indigo-500">{{ T "nav.upload" }}</a>
            <a href="/projects" class="text-gray-700 hover:text-indigo-500">{{ T "nav.projects" }}</a>
            <a href="/people" class="text-gray-700 hover:text-indigo-500">{{ T "nav.people" }}</a>
            <a href="#" class="text-gray-700 hover:text-indigo-500">{{ T "nav.pricing" }}</a>
            <a href="#" class="text-gray-700 hover:text-indigo-500">{{T "nav.contact" }}</a>
        </nav>
    </div>
</div>
{{ end }}
