<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <script src="https://unpkg.com/htmx.org@{{ .HtmxVersion }}"></script>
    <script src="/js/expand-row-content.js"></script>
    <title>Caesura</title>
</head>
<body class="bg-gray-100">
  {{ template "header" . }}
  <!-- Page Content Placeholder -->
  <div id="page-content" class="flex-col pt-16">
    <div id="flash-message" class="mb-4 text-gray-500 italic p-4">Explore your archive and add items to your next project!</div>
    <div class="flex items-center justify-center">  <p class="mr-2 font-semibold">Search:</p>
        <input type="text" name="resource-filter" hx-get="/overview/search" hx-trigger="load, keyup changed delay:500ms" hx-target="#piece-list" placeholder="Type to search"/>
    </div>
    {{ template "resource_table" . }}
    <button
      type="button"
      hx-get="/overview/project-selector"
      hx-trigger="click" hx-target="#project-selection-modal"
      class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-lg transition">
        Add to project
      </button>
  </div>
  <div id="project-selection-modal"></div>
  <script>
    document.body.addEventListener("htmx:afterRequest", function (evt) {
      console.log(evt)
      if (evt.target.id === 'create-new-project-btn') {
        const modal = document.getElementById("project-selection-modal");
        if (modal) {
          modal.innerHTML = '';
        }
    }});
  </script>
</body>
