<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <script src="https://unpkg.com/htmx.org@{{ .HtmxVersion }}"></script>
    <title>Caesura</title>
</head>
<body class="bg-gray-100">
  {{ template "header" . }}
  <!-- Page Content Placeholder -->
  <div id="page-content" class="flex-col pt-16">
    <div class="flex items-center justify-center">  <p class="mr-2 font-semibold">Search:</p>
        <input type="text" name="projectQuery" hx-get="/filter/project-list" hx-trigger="load, keyup changed delay:500ms" hx-target="#project-list" placeholder="Type to search"/>
    </div>
    <div class="overflow-x-auto rounded-2xl shadow-md border border-gray-200 pt-8">
      <table class="min-w-full divide-y divide-gray-200 text-sm text-left">
        <thead class="bg-gray-100 text-gray-700">
          <tr>
            <th class="px-4 py-3">Title</th>
            <th class="px-4 py-3">Created</th>
            <th class="px-4 py-3">Updated</th>
            <th class="px-4 py-3"># pieces</th>
          </tr>
        </thead>
        <tbody id="project-list" class="divide-y divide-gray-100 bg-white">
        </tbody>
      </table>
    </div>
  </div>
</body>
