
name: Deploy prod

on:
  workflow_dispatch:

jobs:
  deploy-prod:
    permissions:
      id-token: write
      contents: read
    uses: davidkleiven/gh-workflows/.github/workflows/gcloud-deploy.yml@main
    secrets: inherit
    with:
      cloud_run_service: caesura-prod
      region: europe-north1
      workload_identity_provider: projects/602223566336/locations/global/workloadIdentityPools/github-pool/providers/github-provider
      service_account: caesura-prod-sp@caesura-466820.iam.gserviceaccount.com
      image: europe-north1-docker.pkg.dev/caesura-466820/ghcr-cache/${{ github.repository_owner }}/caesura:v1.47.1
      env_vars: CAESURA_PROFILE=prod,SOPS_AGE_KEY_FILE=/etc/keys/sops-key
      secret_mounts: "/etc/keys/sops-key=projects/602223566336/secrets/sops-key:latest"
      port: 8080
