# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Build and test

on: [push]

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      CAESURA_STRIPE_SECRET_KEY: ${{ secrets.CAESURA_STRIPE_SECRET_TEST_KEY }}
    services:
      mailpit:
        image: axllent/mailpit:v1.27.5
        ports:
          - 1025:1025    # SMTP
          - 8025:8025    # Web UI & API
    steps:
    - uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: 1.24

    - id: 'auth'
      if: github.ref == 'refs/heads/main'
      uses: 'google-github-actions/auth@v3.0.0'
      with:
        workload_identity_provider: 'projects/602223566336/locations/global/workloadIdentityPools/github-pool/providers/github-provider'
        service_account: caesura-test-sp@caesura-466820.iam.gserviceaccount.com

    - name: Set up Google Cloud SDK
      uses: google-github-actions/setup-gcloud@v3.0.1
      with:
        version: '>=363.0.0'

    - name: Build
      run: go build ./...

    - name: Install playwright
      run: go run github.com/playwright-community/playwright-go/cmd/playwright install chromium-headless-shell

    - name: Test
      run: go test -failfast -tags=integration ./... -coverprofile=./cover.out -covermode=atomic -coverpkg=./...

    - name: Check coverage
      uses: vladopajic/go-test-coverage@v2
      with:
        config: ./.testcoverage.yml
