# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Linting

on: [push]

jobs:

  check-style:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Install pre-commit
      run: pip install pre-commit

    - name: Run pre-commit
      run: pre-commit run --all

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: 1.24
    - name: Setup Node.js
      uses: actions/setup-node@v6
      with:
        node-version: 20

    # Step 3: Run Prettier Check via npx
    - name: Prettier Lint (check formatting)
      run: npx prettier --check "**/*.{html,js,json,md}"

    - name: Check all translation keys are used
      run: go run cmd/checkTranslationsUsed/main.go web/templates/translations.yml .
