name: Release

on:
  schedule:
    - cron: '0 4 1 * *'

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release:
    uses: davidkleiven/gh-workflows/.github/workflows/semantic-gh-release.yml@main
    secrets: inherit

  build-and-push:
    needs: release
    if: needs.release.outputs.new_release_published == 'true'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.24'

      - name: Build Go binary
        run: |
          CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -o caesura main.go

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t docker.io/${{ secrets.DOCKERHUB_USERNAME }}/caesura:${{ needs.release.outputs.new_tag }} .

      - name: Push Docker image
        run: |
          docker push docker.io/${{ secrets.DOCKERHUB_USERNAME }}/caesura:${{ needs.release.outputs.new_tag }}
